@tailwind base;
@tailwind components;
@tailwind utilities;

.stripes {
  --stripe-color: #363c47;
  background-image: linear-gradient(
    0deg,
    var(--stripe-color) 25%,
    transparent 25%,
    transparent 50%,
    var(--stripe-color) 50%,
    var(--stripe-color) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 256px 256px;
}
.perkele {
  height: 50px;
  width: 100%;
  background-color: blueviolet;
}
